<% if user_signed_in? %>
<div class="page-header">
<center><%= link_to "Post  a New Status" , new_status_path, Class: "btn btn-success"%></center>
</div>

<% @statuses.each do |status| %>
<div class="status">
  <div class="row">

    <div class="span7">
      <strong><%= status.user.first_name + status.user.last_name  %></strong> <br> Group 
      <%= status.group.name %>
      <p><%= status.content %></p>
            
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
         <% if !user_signed_in? %>
            <%= toggle_get_button(status, user) %>
          <%end%>
      </div>    
      <div id="Comments">
  
  <%= render :partial => status.comments %>

  <%= simple_form_for [@status,Comment.new]  do |f| %>
  <p> 
  <%= f.input :content, :label => "New Comment", as: :text, input_html: {row: "3"} %>
  </p>
  <p>
  <%= f.submit "Add Comment", class: "btn btn-primary" %> </p>
  <%end%>
  </div>

      </div>
    </div>
  </div>
</div>
<% end %>
     
 <% else !user_signed_in? %>
  <h1> Please Login </h1>
 
  </div>
  <% end %>
</div>
