<!DOCTYPE html>
<html>
<head>
  <title>Get</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'statues', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top ">
	<div class="navbar-inner">
			<div class ="container">
				<a href="#" class="brand"> GET </a>
				<ul class="nav navbar-nav">
					<li role="presentation" class="active"> <%= link_to "Home", feed_path %> </li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
					<li> <%= link_to current_user.first_name ,showprofile_path(current_user.profile_name) %> </li>
					<li> <%= link_to "Log out",logout_path%> </li>
					<% else %>
						<li> <%= link_to "Register",register_path %> </li>
						<li> <%= link_to "Log in",login_path %> </li>
					<% end %>
				</ul>
			</div>
			</div>
	</div>

<div class="container">
<% flash.each do |type, message| %>
		<div class="alert" <%= flash_class type %>>
			<button class="close" data-dismiss="alert">×</button>
			<%= message %>	
		</div>
<% end %>
	<br>
<%= yield %>
</div>



</body>
</html>
